.sezzle-payment-method.form-row {
	width: 90%;
}

.sezzle-payment-method.form-row .field-wrapper{
	width: 100%;
}

.sezzle-payment-method.form-row .field-wrapper .field-label{
	display: inline-block;
	vertical-align: middle;
}

.sezzle-payment-method.form-row .field-wrapper .field-label img{
	vertical-align: 53%;
	width: 75px;
}

.sezzle-payment-method.form-row .field-wrapper .field-label span{
	vertical-align: 70%;
}

.sezzle-payment-method.form-row .field-wrapper .field-label a{
	display: inline-block;
	vertical-align: 50%;
}

.js-countries_selectbox {
	width: 100px; 
	position: absolute; 
	top: 0px; 
	left: 210px;
}